*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.background{
    background-color: blue;
}

#cardEvents{
    display: flex;
}

#containerEvents{
    padding-top: 100px;
}