*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
	background: linear-gradient(-45deg, rgb(16, 29, 128), #23A, #01BFDF, #ee5ba1, #d63b86);
	/* background: linear-gradient(#e66465, #9198e5); */
}

.boxPrincipalTitle{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}    

#containerBoxFuture{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#containerBoxPast{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#principalTitle {
    z-index: 2;
    position: relative;
    top: 50%;
    max-width: 682px;
    font-size: 2rem !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    background-color: rgba(156, 144, 144, 0.5);
	height: 107px;
	text-align: center;
}

/* h1{
	font-size: 2rem !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid #fff;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 10rem;
	text-align: center;
} */

h2{
	text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    /* top: 23%;
    left: 76%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem; */
	background-color: rgba(156, 144, 144, 0.5);
	text-align: center;
}





/*FOOTER*/

@media only screen and (max-width: 600px) {
	body {
		background-color: #01BFDF;
	}
  }

footer {
	background: #16222A;
	background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
	background: linear-gradient(59deg, #3A6073, #16222A);
	color: white;
	margin-top:100px;
  }
  
  footer a {
	color: #fff;
	font-size: 14px;
	transition-duration: 0.2s;
  }
  
  footer a:hover {
	color: #FA944B;
	text-decoration: none;
  }
  
  .copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
	padding-top: 2em;
	color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
  }
  
  ul.social-network li {
	display: inline;
	margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
	background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
	background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
	color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
	color: #44BCDD;
  }
  
  .social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
  }
  
  .social-circle li i {
	margin: 0;
	line-height: 30px;
	text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
  }
  
  .social-circle i {
	color: #595959;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
  }
  
  .social-network a {
	background-color: #F9F9F9;
  }